body {
  background-color: blanchedalmond;
}

#app-name {
  font-size: 27px;
  font-weight: bold;
}
.card-deck {
  padding: 1px 7px 29px 7px;
}
.status-indicator {
  padding-top: 145px;
  text-align: center;
  color: darkcyan;
}

body {
  margin-top: 65px;
}

.navbar {
  padding-bottom: 17px;
}
a:hover {
  text-decoration: none;
}

.label {
  font-weight: bold;
  font-size: 65px;
  color: rgb(7, 7, 92);
  text-shadow: 2px 2px 5px #000;
}

.sub-label {
  color: darkkhaki;
  text-shadow: 2px 2px 2px #000; 
}
.thumb {
  width: 120px;
  height: 120px;
  border-radius: 25px;
  float: left;
}

.card-img-top {
  width: 220px;
  height: 350px;
  margin: 7px 0 7px 0;
}

.card-body {
  padding-top: 93px;
}
.card-text {
  color: rgb(245, 245, 252);
  font-size: 34px;
  text-shadow: 3px 2px 2px #000;
  
}

h1, p {text-align: center;}

h2 {
  padding-top: 100px;
  text-align: center;
}

#about-owner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 23px;
  border: solid 1px blue;
}

.img-logo {
  width: 90px;
  height: 90px;
}
#media-link {
  margin-bottom: 0;
}

footer {
  padding: 50px;
  text-align: center;
  color: blanchedalmond;
}
