.status-indicator {
  padding-top: 145px;
  text-align: center;
  color: darkcyan;
  font-size: 68px;
}

a:hover {
  text-decoration: none;
}

.label {
  font-weight: bold;
  font-size: 65px;
  color: blue;
  text-shadow: 2px 2px 5px #000;
}
.thumb {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  float: left;
}

.card-img-top {
  width: 360px;
  height: 550px;
}
.card-text {
  color: blue;
  font-size: 34px;
  text-shadow: 2px 2px 5px #000;
}

h1, p {text-align: center;}

h2 {
  padding-top: 100px;
  text-align: center;
}

#about-owner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 23px;
  border: solid 1px blue;
}

footer {
  padding: 50px;
  text-align: center;
  color: blanchedalmond;
}
